<script src="~/Scripts/jquery-1.7.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        jQuery.support.cors = true;
        $.ajax({
            url: '/api/employee',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(employees) {
            var strResult = "<table class=\"table\"><thead class=\"thead-inverse\"><th>Employee ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Address</th><th>Status</th></thead>";
            $.each(employees, function (index, employee) {
                strResult += "<tr><td>" + employee.EmployeeId + "</td><td> " + employee.FirstName + "</td><td>" + employee.LastName + "</td><td>" + employee.Email + "</td><td>" + employee.Address + "</td><td>"+employee.Status +"</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }

    });

    //Get employee by ID
    function GetEmployee() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:8088/api/employee/' + document.getElementById('employeeId').value,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert('The Employee not found in the List for the given ID');
            }
        });

        function WriteResponse(employee) {
            document.getElementById('FirstName').innerHTML = "<input name=\"Firstname\" id=\"updateEmployeeName\" value=" + employee.FirstName + " />";
            document.getElementById('LastName').innerHTML = "<input name=\"Lastname\" id=\"updateEmployeeLastName\" value=" + employee.LastName + " />";
            document.getElementById('Email').innerHTML = "<h4>" + employee.Email + "</h4>";
            document.getElementById('Address').innerHTML = "<input name=\"Address\" id=\"updateEmployeeAddress\" value=" + employee.Address + " />";
            document.getElementById('Status').innerHTML = "<h4>" + employee.Status+ "</h4>";
            document.getElementById('checkbox').innerHTML = "<input id=\"updateEmployeeStatus\" type=\"checkbox\" "+Checkbox(employee.Status) +" data-toggle=\"toggle\" />";
        }
    }

    //checkbox is checked or not
    function Checkbox(test) {
        if(test=='Activated')
            return 'checked'
        else
            return 
    }

    //checkbox is checked or not while adding employee

    function statuscheck() {
        var check = document.getElementById('newEmployeeStatus').checked;
        if(check)
            return 'Activated'
        else
            return 'Deactivated'
    }
    function statuscheckupdate() {
        var check = document.getElementById('updateEmployeeStatus').checked;
        if (check)
            return 'Activated'
        else
            return 'Deactivated'
    }

    //Post Employee
    function AddEmployee() {
        var employee = {
            FirstName: document.getElementById('newEmployeeName').value,
            LastName: document.getElementById('newEmployeeLastName').value,
            Email: document.getElementById('newEmployeeEmail').value,
            Address: document.getElementById('newEmployeeAddress').value,
            Status: statuscheck()
        };
        
        $.ajax({
            url: 'http://localhost:8088/api/employee/',
            type: 'POST',
            data: JSON.stringify(employee),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Employees added Successfully');
                GetAllEmployees();
            },
            error: function () {
                alert('Please fill all the fields');
            }
        });
    }

//Put Employee
    function PutEmployee() {
        var employee = {
            EmployeeId: document.getElementById('employeeId').value,
            FirstName: document.getElementById('updateEmployeeName').value,
            LastName: document.getElementById('updateEmployeeLastName').value,
            Address: document.getElementById('updateEmployeeAddress').value,
            Status: statuscheckupdate()
        };

        $.ajax({
            url: 'http://localhost:8088/api/employee/' + document.getElementById('employeeId').value,
            type: 'PUT',
            data: JSON.stringify(employee),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Details Updated Successfully');
                GetAllEmployees();
            },
            error: function () {
                alert('Unable to Update for the Given ID');
            }
        });
    }

    //Delete Employee
    function DeleteEmployee() {
        jQuery.support.cors = true;
        var employee = {
            EmployeeId: document.getElementById('employeeId').value
        };
        $.ajax({
            url: 'http://localhost:8088/api/employee/' + document.getElementById('employeeId').value,
           type: 'DELETE',
           data: JSON.stringify(employee),
           contentType: "application/json;charset=utf-8",
           success: function (data) {
               alert('Successfully deleted');
               GetAllEmployees();

           },
           error: function () {
               alert('Unable to Delete for the given Id');
              
           }

        });
    }

    function GetAllEmployees() {
        jQuery.support.cors = true;
        $.ajax({
            url: 'http://localhost:8088/api/employee/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponses(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });

        //Displays in a Table
        function WriteResponses(employees) {
            var strResult = "<table class=\"table\"><th>Employee ID</th><th>First Name</th><th>Last Name</th><th>Email</th><th>Address</th><th>Status</th>";
            $.each(employees, function (index, employee) {
                strResult += "<tr><td>" + employee.EmployeeId + "</td><td> " + employee.FirstName + "</td><td>" + employee.LastName + "</td><td>" + employee.Email + "</td><td>" + employee.Address + "</td><td>"+employee.Status +"</td></tr>";
            });
            strResult += "</table>";
            $("#divResult").html(strResult);
        }
    }

</script>
<center>
<h1 style="margin-top:20px;color:cadetblue;font-family:'Bookman Old Style';" >List of Employees </h1>
    </center>
<div id="divResult"  style="margin-left: 15px"></div>
<div>
   <center> <h1 style="margin-top:20px;color:cadetblue;font-family:'Bookman Old Style';">Edit Employee Details</h1></center>
</div>
    <h3 style="margin-left:250px">Enter the employee ID:</h3>

<center>
<div>
    <input id="employeeId" type="text" />
    <button id="GetEmployee" class="btn btn-info" onclick="GetEmployee()">Get Employee</button>
    <button style="margin-left:10px;" id="putEmployee" class="btn btn-primary" onclick="PutEmployee()">Update Employee</button>
    <button style="margin-left:10px;" id="DeleteEmployee" class="btn btn-danger" onclick="DeleteEmployee()">Delete Employee</button>

</div>
</center>
<center>
<div style="margin-left: 60px">
    <table class="table" style="width:800px">
        <tr>
            <td>
                <h4>First Name</h4>
            </td>
            <td ><span id="FirstName"></span></td>
        </tr>
        <tr>
            <td>
                <h4>Last Name</h4>
            </td>
            <td><span id="LastName" ></span></td>
        </tr>
        <tr>
            <td>
                <h4>Email</h4>
            </td>
            <td><span id="Email"></span></td>
        </tr>
        <tr>
            <td>
                <h4>Address</h4>
            </td>
            <td><span id="Address"></span></td>
        </tr>
        <tr>
            <td>
                <h4>Status</h4>
            </td>
            <td><span id="Status"></span></td>
        </tr>
        <tr>
            <td>
                <h4>Activate</h4>
            </td>
            <td><span id="checkbox">
                </span>
</td>
        </tr>
    </table>
</div>
</center>
    
<div>
    <center>
    <table>
        <tr>

            <td>
                <center>
                    <h1 style="margin-top:20px;color:cadetblue;font-family:'Bookman Old Style';">Add Employee </h1>
                </center>

                    <table class="table">
                        <tr>
                            <td>
                        <label for="name">First Name</label>
                                </td>
                            <td>
                        <input id="newEmployeeName" type="text" /></td>
                    </tr>
                        <tr><td>
                        <label for="name"> Last Name</label></td>
                        <td>
                        <input id="newEmployeeLastName" type="text" /></td>
                   </tr>
                        <tr>
                            <td>
                        <label for="email">Email:</label></td><td>
                        <input id="newEmployeeEmail" type="text" /></td>
                   </tr>
                        <tr><td>
                        <label for="Address">Address:</label>
                        </td><td><input id="newEmployeeAddress" type="text" />
                            </td></tr>
                        <tr>
                            <td>
                                <label for="Status">Activate:</label>

                            </td>
                            <td>
                                <input id="newEmployeeStatus" type="checkbox" checked data-toggle="toggle">
                                </td>
                            </tr>
                    </table>
                    <button id="postEmployee" class="btn btn-success" onclick="AddEmployee()">Add New Employee</button>
            </td>
        </tr>
    </table>
        </center>
</div>
